/* ------------------------------------------------------------ *\
	article-popup
\* ------------------------------------------------------------ */

.article-popup {
	position: relative; 
	margin-left: auto;
	margin-right: auto; 
	width: 100%; 
	max-width: 57.13vw; 
	background-color: #E9E6E1;
	display: flex; 

	@include breakpoint-down(mobile) {
		min-height: 100vh; 
		margin-right: 0; 
		max-width: 83.73vw; 
		text-align: center; 
		display: block; 
	}

	h3 {
		margin-bottom: 1.67vw; 
		font-size: 0.8vw; 
		font-weight: 600; 
		line-height: 1.34; 

		@include breakpoint-down(mobile) {
			margin-bottom: 6.67vw; 
			width: 100%; 
			flex: 0 0 auto;
			letter-spacing: 0; 
			font-size: 3.2vw; 
		}
	}

	h4 {
		margin-bottom: 1vw; 
		font-size: 1.8vw; 
		line-height: 1.38; 

		@include breakpoint-down(mobile) {
			margin-bottom: 4vw; 
			width: 100%; 
			flex: 0 0 auto;
			font-size: 6.67vw; 
		}
	}

	p {
		margin-bottom: 2vw; 
		font-size: 0.93vw; 
		font-weight: 300; 
		line-height: 1.6; 

		@include breakpoint-down(mobile) {
			margin-top: 8vw; 
			margin-bottom: 0; 
			padding: 0 10%; 
			width: 100%; 
			flex: 0 0 auto;
			font-size: 3.73vw; 
			line-height: 1.75; 
			order: 99;
		}
	}

	figure {
		padding: 5.07vw 2.87vw; 
		width: 100%; 
		max-width: 23.87vw; 
		background-color: #E0DDD9;
		flex: 0 0 auto;
		display: flex; 
		justify-content: center;
		align-items: center;

		@include breakpoint-down(mobile) {
			max-width: none; 
			padding: 10.7vw 16.77vw; 
		}
	}

	figure img {
		margin: auto;
		width: 100%; 
		flex: 0 0 auto;
	}

	.article__content {
		width: 100%; 
		flex: 0 1 auto;
		padding: 4.67vw 3.6vw 4.67vw 4.67vw;

		@include breakpoint-down(mobile) {
			padding: 8vw 5.33vw; 
			display: flex; 
			flex-direction: column;
		}
	}
}
