/* ------------------------------------------------------------ *\
	btn-play
\* ------------------------------------------------------------ */

.btn-play {
	position: absolute; 
	top: 16.53vw;
	left: 50%; 
	transform: translateX(-50%) scale(1); 
	width: 8.67vw; 
	height: 8.67vw; 
	background-color: rgba(0,0,0,0.8);
	border-radius: 100%;
	text-transform: uppercase; 
	text-align: center; 
	color: #fff; 
	font-weight: 600; 
	font-size: 0.67vw; 
	line-height: 8.67vw; 
	letter-spacing: .15em;

	@include breakpoint-down(mobile) {
		top: 19.2vw; 
		width: 24vw; 
		height: 24vw; 
		font-size: 2.67vw; 
		line-height: 24vw; 
	}

	&:hover {
		transform: translateX(-50%) scale(1.1); 
		background-color: rgba(0,0,0,1);
	}
}
