/* ------------------------------------------------------------ *\
	form
\* ------------------------------------------------------------ */

.form {
	text-align: left; 

	a {
		text-decoration: underline; 
		line-height: 1.36; 
	}

	a:hover {
		text-decoration: none; 
	}

	small {
		font-size: 0.93vw; 
		line-height: 1.36; 

		@include breakpoint-down(mobile) {
			font-size: 3.73vw; 
		}
	}

	sup {
		color: #EA4448; 
		font-size: inherit; 
		vertical-align: baseline; 
	}

	.form__title {
		margin-bottom: 30px; 
		padding-bottom: 0.67vw; 
		border-bottom: 1px solid #000;

		@include breakpoint-down(mobile) {
			margin-bottom: 8vw; 
			padding-bottom: 2.67vw; 
		}
	}

	.form__title h6 {
		font-size: 1.07vw; 
		font-weight: 600; 
		text-transform: none; 
		line-height: 1.38; 

		@include breakpoint-down(mobile) {
			font-size: 4.27vw; 
		}
	}

	.form__body	p {
		margin-bottom: 2vw; 

		@include breakpoint-down(mobile) {
			margin-bottom: 8vw; 
		}
	}

	.form__btn {
		margin-bottom: 2vw; 
		width: calc(50% - 1vw);

		@include breakpoint-down(mobile) {
			margin-bottom: 8vw; 
			width: 100%; 
		}
	}

	.form__btn:last-child {
		margin-bottom: 0; 
	}

	.form__btn--full {
		width: 100%; 
	}

	.form__footer {
		display: flex; 
		justify-content: flex-end; 
		font-size: 0.93vw; 

		@include breakpoint-down(mobile) {
			font-size: 3.73vw; 
		}
	}

	.form__footer .form__checkbox {
		max-width: 50%; 

		@include breakpoint-down(mobile) {
			max-width: none; 
		}
	}

	.form__footer .form__checkbox + .form__btn {
		@include breakpoint-down(mobile) {
			margin-top: 8vw; 
		}
	}

	.form__footer--alt {
		flex-direction: column;
		align-items: center;
		justify-content: normal;
	}

	.form__label {
		margin-bottom: 0.67vw; 
		display: block; 
		color: #000; 
		text-transform: uppercase; 
		font-weight: 600; 
		line-height: 1.4; 
		letter-spacing: .142em;
		font-size: 0.67vw; 

		@include breakpoint-down(mobile) {
			margin-bottom: 2.67vw; 
			font-size: 2.67vw; 
		}
	}

	.form__controls {
		padding-bottom: 2vw; 
		
		@include breakpoint-down(mobile) {
			padding-bottom: 8vw; 
		}
	}

	.form__controls--promo {
		position: relative; 
	}

	.form__controls--promo input {
		padding-right: 7.4vw; 

		@include breakpoint-down(mobile) {
			padding-right: 31.67vw; 
		}
	}

	.form__controls--promo a,
	.form__controls--promo button {
		position: absolute; 
		top: 1.6vw; 
		right: 1.73vw; 
		text-transform: uppercase; 
		text-decoration: underline; 
		font-weight: 600;
		font-size: 0.67vw; 
		letter-spacing: 0.091em;
		line-height: 1.4;

		@include breakpoint-down(mobile) {
			top: 5.98vw; 
			right: 6.67vw; 
			font-size: 2.67vw; 
		}
	}

	.form__controls--promo a:hover,
	.form__controls--promo button:hover {
		text-decoration: none; 
	}

	.form__row {
		display: flex; 

		@include breakpoint-down(mobile) {
			display: block; 
		}
	}

	.form__col {
		width: 100%; 
		flex: 0 1 auto;
	}

	.form__col + .form__col {
		margin-left: 2vw; 

		@include breakpoint-down(mobile) {
			margin-left: 0; 
		}
	}

	.form__checkboxes {
		padding-bottom: 2vw; 
		list-style-type: none;
		font-size: 0.93vw; 
		
		@include breakpoint-down(mobile) {
			padding-bottom: 8vw; 
			font-size: 3.73vw; 
		}
	}

	.form__checkboxes li + li {
		margin-top: 0.8vw; 

		@include breakpoint-down(mobile) {
			margin-top: 3.2vw; 
		}
	}

	.form__checkboxes label {
		padding: 0.3vw 0 0.3vw 2.47vw;


		@include breakpoint-down(mobile) {
			padding: 1.2vw 0 1.2vw 9.87vw;
		}
	}
}

