/* ------------------------------------------------------------ *\
	hero
\* ------------------------------------------------------------ */

.hero {
	position: relative; 
	padding-top: 4.67vw; 
	padding-bottom: 8vw; 
	text-align: center; 

	@include breakpoint-down(mobile) {
		padding-top: 10.67vw; 
		padding-bottom: 26.67vw; 
	}

	h1 {
		position: relative; 
		z-index: 1; 

		@include breakpoint-down(mobile) {
			margin-left: -6vw; 
			margin-right: -2vw; 
		}
	}

	h3 {
		position: relative; 
		margin-bottom: 1.53vw;
		z-index: 1; 

		@include breakpoint-down(mobile) {
			margin-bottom: 5.4vw; 
		} 
	}

	h4 {
		position: relative; 
		margin-bottom: 3.33vw;
		font-size: 0.73vw; 
		font-weight: 600; 
		text-transform: uppercase; 
		letter-spacing: .148em;
		line-height: 1.65; 
		z-index: 1; 

		@include breakpoint-down(mobile) {
			margin-bottom: 8vw; 
			font-size: 2.93vw;  
		} 
	}

	h4 span {
		padding-bottom: 5px; 
		display: inline-block; 
		position: relative; 
	}

	h4 span:before {
		content: '';
		position: absolute; 
		bottom: 0; 
		left: 0; 
		width: 100%; 
		height: 1px; 
		background-color: currentColor; 
	}

	figure img {
		position: relative; 
		margin-top: -11.33vw; 
		width: 100%; 
		display: block; 

		@include breakpoint-down(mobile) {
			margin-top: -17.3vw; 
			display: none; 
		}
	}

	figure img + img {
		display: none; 

		@include breakpoint-down(mobile) {
			display: block; 
		}
	}

	.hero__breadcrumbs {
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
	}

	.image-crop {
		overflow: hidden; 
	}
}

/*  hero--padding-top  */
.hero--padding-top {
	padding-top: 8vw;

	@include breakpoint-down(mobile) {
		padding-top: 16vw; 
	}
}

/*  hero--black  */
.hero--black {
	margin-top: -$header-height; 
	padding-top: calc( #{$header-height} + 7.13vw); 
	color: #F2F0EC; 

	@include breakpoint-down(mobile) {
		margin-top: -$header-height-sm; 
		padding-top: calc( #{$header-height-sm} + 11.2vw); 
	}

	&:before {
		content: '';
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 62.27vw; 
		max-height: 100%; 
		background-color: #000; 
		pointer-events: none;

		@include breakpoint-down(mobile) {
			height: 169.07vw; 
		}
	}

	figure img {
		margin-top: -21vw; 

		@include breakpoint-down(mobile) {
			left: 50%; 
			transform: translateX(-50%); 
			margin-top: -35vw; 
			width: 100vw; 
			max-width: none; 
		}
	}
}

/*  hero--photos  */
.hero--photos {
	margin-top: -$header-height; 
	padding-top: calc( #{$header-height} + 7.13vw); 

	@include breakpoint-down(mobile) {
		margin-top: -$header-height-sm; 
		padding-top: calc( #{$header-height-sm} + 11.2vw); 
	}

	h1 {
		margin-bottom: 0; 
	}

	h2 {

		margin-bottom: 0; 
	}

	p {
		margin-left: auto; 
		margin-right: auto; 
		padding-top: 3.8vw; 
		width: 30vw; 

		@include breakpoint-down(mobile) {
			width: 74.67vw; 
			padding-top: 13.33vw; 
		}
	}

	.hero__photos {
		position: relative; 
		margin-top: -3vw; 
		margin-bottom: 9.33vw; 

		@include breakpoint-down(mobile) {
			margin-top: -5.33vw; 
			margin-bottom: 48vw; 
		}
	}

	.hero__btn {
		position: absolute; 
		bottom: 7.53vw; 
		right: 17.67vw; 

		@include breakpoint-down(mobile) {
			bottom: 0; 
			left: 50%; 
			right: auto; 
			margin-left: auto; 
			margin-right: auto; 
			transform: translate(-50%, 50%); 
		}
	}
}
