/* ------------------------------------------------------------ *\
	icons
\* ------------------------------------------------------------ */

[class^="ico-"] {
	background-size: 100% 100%; 
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block; 
	vertical-align: middle;
}

.ico-facebook {
	width: 0.47vw; 
	height: 0.93vw; 
	background-image: url(../images/svg/ico-facebook.svg); 

	@include breakpoint-down(mobile) {
		width: 1.87vw; 
		height: 3.73vw; 
	}
}

.ico-twitter {
	width: 0.93vw; 
	height: 1vw; 
	background-image: url(../images/svg/ico-twitter.svg); 

	@include breakpoint-down(mobile) {
		width: 3.73vw; 
		height: 4vw; 
	}
}

.ico-instagram {
	width: 0.93vw; 
	height: 0.93vw; 
	background-image: url(../images/svg/ico-instagram.svg); 

	@include breakpoint-down(mobile) {
		width: 3.73vw; 
		height: 3.73vw; 
	}
}

.ico-search {
	width: 1.2vw; 
	height: 1.2vw; 
	background-image: url(../images/svg/ico-search.svg); 

	@include breakpoint-down(mobile) {
		width: 4.8vw; 
		height: 4.8vw; 
	}
}

.ico-search--white {
	background-image: url(../images/svg/ico-search-white.svg); 
}

.ico-bag {
	width: 1.13vw; 
	height: 1.53vw; 
	background-image: url(../images/svg/ico-bag.svg); 

	@include breakpoint-down(mobile) {
		width: 4.53vw; 
		height: 6.13vw; 
	}
}

.ico-bag--white {
	background-image: url(../images/svg/ico-bag-white.svg); 
}

.ico-facebook-black {
	width: 0.6vw; 
	height: 1.13vw; 
	background-image: url(../images/svg/ico-facebook-black.svg); 

	@include breakpoint-down(mobile) {
		width: 2.4vw; 
		height: 4.53vw; 
	}
}

.ico-twitter-black {
	width: 1.07vw; 
	height: 0.87vw; 
	background-image: url(../images/svg/ico-twitter-black.svg); 

	@include breakpoint-down(mobile) {
		width: 4.27vw; 
		height: 3.47vw; 
	}
}

.ico-gplus-black {
	width: 1.2vw; 
	height: 1.2vw; 
	background-image: url(../images/svg/ico-gplus-black.svg); 

	@include breakpoint-down(mobile) {
		width: 4.8vw; 
		height: 4.8vw; 
	}
}

.ico-pin {
	width: 1.27vw; 
	height: 2.07vw; 
	background-image: url(../images/svg/ico-pin.svg); 

	@include breakpoint-down(mobile) {
		width: 5.07vw; 
		height: 8.27vw; 
	}
}

.ico-pin-white {
	width: 1.27vw; 
	height: 2.07vw; 
	background-image: url(../images/svg/ico-pin-white.svg); 

	@include breakpoint-down(mobile) {
		width: 5.07vw; 
		height: 8.27vw; 
	}
}

.ico-cog {
	width: 2.53vw; 
	height: 2.4vw; 
	background-image: url(../images/svg/ico-cog.svg); 

	@include breakpoint-down(mobile) {
		width: 10.13vw; 
		height: 9.6vw; 
	}
}

.ico-battery {
	width: 2.4vw; 
	height: 2vw; 
	background-image: url(../images/svg/ico-battery.svg); 

	@include breakpoint-down(mobile) {
		width: 9.6vw; 
		height: 8vw; 
	}
}

.ico-cable {
	width: 2.47vw; 
	height: 2.47vw; 
	background-image: url(../images/svg/ico-cable.svg); 

	@include breakpoint-down(mobile) {
		width: 9.87vw; 
		height: 9.87vw; 
	}
}

.ico-drops {
	width: 2.07vw; 
	height: 2.53vw; 
	background-image: url(../images/svg/ico-drops.svg); 

	@include breakpoint-down(mobile) {
		width: 8.27vw; 
		height: 10.13vw; 
	}
}

.ico-usa {
	width: 2.33vw; 
	height: 1.73vw; 
	background-image: url(../images/svg/ico-usa.svg); 

	@include breakpoint-down(mobile) {
		width: 9.33vw; 
		height: 6.93vw; 
	}
}

.ico-listed {
	width: 2.93vw; 
	height: 2.27vw; 
	background-image: url(../images/ico-listed.png); 

	@include breakpoint-down(mobile) {
		width: 11.73vw; 
		height: 9.07vw; 
	}
}

.ico-heart {
	position: relative; 
	vertical-align: baseline;
	color: transparent;
	width: 20.8vw; 

	@include breakpoint-down(mobile) {
		width: 30.67vw; 
	}

	&:before {
		content: '';
		position: absolute; 
		top: 50%; 
		transform: translateY(-50%); 
		left: 0; 
		width: 20.8vw; 
		height: 19.57vw; 
		background-size: 100% 100%; 
		background-position: 0 0;
		background-repeat: no-repeat;
		background-image: url(../images/ico-heart.png); 
		color: transparent;
		z-index: -1; 

		@include breakpoint-down(mobile) {
			width: 30.67vw; 
			height: 28.53vw; 
		}
	}
}

.ico-avatar {
	width: 3.2vw; 
	height: 3.2vw; 
	background-image: url(../images/svg/ico-avatar.svg); 

	@include breakpoint-down(mobile) {
		width: 12.8vw; 
		height: 12.8vw; 
	}
}

.ico-location {
	width: 20px; 
	height: 24px; 
	background-image: url(../images/svg/ico-location.svg); 
}


.ico-plus {
	position: relative; 
	width: 12px; 
	height: 12px; 

	&:before,
	&:after {
		content: '';
		position: absolute; 
		top: 50%; 
		left: 50%; 
		transform: translate(-50%, -50%); 
		width: 100%; 
		height: 2px; 
		background: #fff;
	}

	&:after {
		transform: translate(-50%, -50%) rotate(90deg); 
	}
}

.ico-minus {
	width: 12px; 
	height: 2px; 
	background: #fff;
}