/* ------------------------------------------------------------ *\
	list-btns
\* ------------------------------------------------------------ */

.list-btns {
	list-style-type: none;
	margin-bottom: 0; 
	display: flex; 
	justify-content: space-between;

	@include breakpoint-down(mobile) {
		display: block; 
	}

	li {
		flex: 0 1 auto;
		transition: $tsi;
	}

	li:hover {
		opacity: .5; 
	}

	li + li {
		@include breakpoint-down(mobile) {
			margin-top: 3.47vw; 
		}
	}
}
