/* ------------------------------------------------------------ *\
	list-dash
\* ------------------------------------------------------------ */

.list-dash {
	list-style-type: none;
	line-height: 1.7; 

	li {
		position: relative; 
		padding-left: 0.73vw; 

		@include breakpoint-down(mobile) {
			padding-left: 2.93vw; 
		}
	}

	li:before {
		content: '-';
		position: absolute;
		top: 0; 
		left: 0; 
	}
}
