/* ------------------------------------------------------------ *\
	organize
\* ------------------------------------------------------------ */

.organize {
	position: relative; 
	margin-bottom: 1.8vw; 
	padding-bottom: 0.9vw; 
	text-align: left; 
	font-size: 0.93vw; 
	line-height: 1.43; 

	@include breakpoint-down(mobile) {
		margin-bottom: 0; 
		padding-bottom: 10.67vw; 
		font-size: 3.2vw; 
		line-height: 1.34; 
	}

	> ul  {
		margin-bottom: 0; 
		padding-bottom: 0.7vw; 
		border-bottom: 1px solid #000;
		list-style-type: none;
		display: flex; 
		justify-content: space-between;
		align-items: center;

		@include breakpoint-down(mobile) {
			border-color: #BBB;
			padding-bottom: 0; 
			flex-wrap: wrap;
		}
	}

	> ul > li {
		min-height: 2.33vw; 
		flex: 0 0 auto;
		display: flex; 
		flex-direction: column;
		justify-content: center;

		@include breakpoint-down(mobile) {
			margin: 3.2vw 0; 
			padding: 1.87vw 0; 
			min-height: 0; 
			flex: 1 1 auto; 
			display: block; 
		}
	}

	> ul > li + li {
		@include breakpoint-down(mobile) {
			margin-left: 4.8vw; 
			padding-left: 4.53vw; 
			border-left: 1px solid #888;
		}
	}

	h4 {
		display: none; 

		@include breakpoint-down(mobile) {
			margin-bottom: 8.27vw; 
			padding-right: 10.67vw; 
			display: block; 
			font-size: 3.2vw; 
			font-weight: 300; 
			text-transform: none; 
		}
	}

	.organize__trigger:before {
		@include breakpoint-down(mobile) {
			content: '';
			position: absolute; 
			top: 0; 
			left: 0; 
			width: 100%; 
			height: 100%; 
			display: block; 
		}
	}

	.orgranize__category {
		@include breakpoint-down(mobile) {
			margin-left: 0; 
			padding-left: 0; 
			border-left: 0; 
		}
	}

	.organize__results {
		text-align: center; 
		font-weight: 300; 

		@include breakpoint-down(mobile) {
			margin: 0; 
			padding: 6.4vw 0 7.47vw;
			border: none;
			border-top: 1px solid #000;
			border-bottom: 1px solid #bbb; 
			order: -1;
			flex: 0 0 100%;
			font-size: 3.73vw; 
			line-height: 1.43; 
		}
	}

	.organize__filter {
		@include breakpoint-down(mobile) {
			position: relative; 
			cursor: pointer;
		}
	}

	.organize__btn {
		display: none; 

		@include breakpoint-down(mobile) {
			margin: auto 0 0;
			min-width: 0; 
			width: 100%; 
			flex: 0 0 auto;
			display: inline-block; 
		}
	}

	.organize__close {
		display: none; 

		@include breakpoint-down(mobile) {
			display: block; 
			position: absolute; 
			right: 6.47vw;
			top: 19.4vw;
			width: 7.2vw; 
			height: 6.135vw; 
		}
	}

	.organize__filter:before {
		@include breakpoint-down(mobile) {
			content: '';
			position: absolute; 
			top: 0;
			right: 4.53vw; 
			transform: rotate(0); 
			width: 1.87vw; 
			height: 100%; 
			background-image: url(../images/svg/plus.svg); 
			background-size: 100% auto;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			transition: $tsi;
		}
	}

	.organize__filters {
		width: 20.63vw; 
		position: absolute; 
		top: 100%; 

		@include breakpoint-down(mobile) {
			position: fixed;
			right: 0;
			top: 0;
			height: 100%;
			width: 83.73vw;
			padding: 21.33vw 7.2vw 8.53vw 8.53vw; 
			background: #e7e3de;
			display: flex; 
			flex-direction: column;
			opacity: 0; 
			visibility: hidden; 
			pointer-events: none;
			transition: $tsi;
			z-index: 110;
			cursor: auto;
		}
	}

	.organize__filters:before {
		content: '';
		position: absolute; 
		left: -100vw; 
		top: -100vh; 
		bottom: -100vh; 
		right: 100%; 
		background-color: rgba(0,0,0,.15);
		display: none; 

		@include breakpoint-down(mobile) {
			display: block; 
		}
	}
	

	.organize__filters.is-active {
			opacity: 1; 
			visibility: visible; 
			pointer-events: auto;
	}

	.orgranize__sort {
		position: relative; 
		margin-left: -6vw; 
		padding-right: 8.93vw;

		@include breakpoint-down(mobile) {
			flex: 0 0 50%;
		 	margin-left: 0; 
		 	padding-right: 2.93vw;
		 	cursor: pointer;
		 } 
	}

	.organize__select  {
		position: absolute; 
		right: 0; 
		top: 0; 
	}
}

/*  organize--alt  */
.organize--alt {
	margin-bottom: 0; 
	padding-bottom: 3.33vw; 

	@include breakpoint-down(mobile) {
		padding-bottom: 18.67vw; 
	}
}
