/* ------------------------------------------------------------ *\
	Widget Gallery
\* ------------------------------------------------------------ */

.widget-gallery {
	position: relative; 
	min-height: 100vh;

	.widget__aside {
		position: absolute; 
		top: 15.2vw; 
		left: 4.67vw; 
		width: 6.67vw;
		z-index: 10;

		@include breakpoint-down(small-desktop) {
			display: none; 
		}

		a {
			display: block; 
		}

		ul {
			list-style: none; 
		}

		li {
			width: 6.67vw; 
			height: 6.67vw; 
			transition: $tsi;
			opacity: 0.5; 

			img {
				width: 100%; 
				display: block; 
			}

			+ li {
				margin-top: 1vw;
			}
		}

		li:hover,
		li.is-active {
			opacity: 1; 
		}
	}

	.widget__inner {
		position: relative; 
		padding-right: 2vw; 
		width: calc(100% - 16vw);
		height: 100vh;
		overflow: hidden; 
		margin-left: auto;  
		cursor: none;

		@include breakpoint-down(small-desktop) {
			padding-right: 0; 
			width: 100vw;
			height: calc(100vh - 8.1vw - 20px);
			cursor: auto;
		}

		@include breakpoint-down(mobile) {
			height: calc(100vh - 19.2vw - 20px);
		}
	}

	.widget__item {
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
		opacity: 0; 
		visibility: hidden; 
		transition: opacity .4s, visibility .4s; 

		@include breakpoint-down(small-desktop) {
			opacity: 1; 
			visibility: visible; 
		}

		&.is-active {
			opacity: 1; 
			visibility: visible; 
		}
	}

	.widget__image {
		position: absolute; 
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		@include breakpoint-down(small-desktop) {
			padding: 1.427vw 1.427vw 2vw; 
			display: flex; 
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center; 
		}

		@include breakpoint-down(mobile) {
			padding: 5.33vw 5.33vw 7.47vw; 
		}

		img {
			position: absolute; 
			top: 50%; 
			left: 50%;
			transform: translate(-50%, -50%); 
			width: 100%; 
			max-width: 84vw;
			transition: transform .5s cubic-bezier(0.22, 0.61, 0.36, 1);

			@include breakpoint-down(small-desktop) {
				position: static;
				top: 0; 
				left: 0; 
				transform: none !important;
				width: auto;
				max-width: 100%;
				height: auto;
				max-height: 100%; 
				object-fit: contain;
				flex: 0 1 100%;
			}
		}
	}

	.widget__foot {
		display: none; 

		@include breakpoint-down(small-desktop) {
			position: absolute;
			left: 0; 
			bottom: calc(2vw + 20px);
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		@include breakpoint-down(mobile) {
			bottom: calc(7.5vw + 20px);
		}
	}
}

/* ------------------------------------------------------------ *\
	Widget Bar
\* ------------------------------------------------------------ */

.widget-bar {
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	background: #E9E6E1; 
	z-index: 50;
	padding: 12px 13px 12px 31px;
	display: flex; 
	justify-content: space-between;
	align-items: center; 
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
	opacity: 0; 
	visibility: hidden; 
	transition: opacity .4s, visibility .4s, transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); 

	@include breakpoint-down(mobile) {
		display: block;
		padding: 15px 14px 13px 16px; 
	}

	.form-quantity {
		width: 390px;

		@include breakpoint-down(mobile) {
			width: 100%;

			.form__controls {
				width: 85px; 
			}

			.form__field {
				height: 55px;
				padding: 0 10px; 
				font-size: 12px;
			}
		}

		.btn {
			padding: 1.4vw 2vw; 

			@include breakpoint-down(mobile) {
				font-size: 10px;
			}

			span {
				display: none;

				@include breakpoint-down(mobile) {
					display: inline-block; 

				} 
				
				span {
					text-align: center; 
					width: 16px; 
				}
			}
		}
	}

	.widget__content {
		max-width: 600px; 

		@include breakpoint-down(mobile) {
			display: none;
		}

		p {
			font-size: .93vw; 
		}
	}

	.widget__aside {
		max-width: 695px; 
		display: flex;
		align-items: center; 

		@include breakpoint-down(mobile) {
			max-width: 100%;
		}

		> p {
			margin: 0 35px 0 0; 
			font-size: .8vw; 
			font-weight: 600;

			@include breakpoint-down(mobile) {
				display: none;
			}

			span {
				text-align: center; 
				display: inline-block; 
				width: 16px;
			}
		}
	}

	&.is-visible {
		opacity: 1; 
		visibility: visible; 
	}
}

/* ------------------------------------------------------------ *\
	Widget Load
\* ------------------------------------------------------------ */

.widget-load {
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100vh; 
	z-index: 200; 
	transition: opacity 0s .8s, visibility 0s .8s; 

	&:after {
		content: '';
		position: absolute; 
		top: 0;
		left: 0;
		width: 100%;
		height: 100%; 
		background: #000;  
		transition: height .8s; 
	}

	i {
		position: absolute; 
		top: 50%; 
		left: 50%; 
		transform: translate(-50%, -50%); 
		z-index: 5; 
		transition: opacity .4s .2s; 

		&:after {
		 	content: '';
		 	position: absolute; 
		 	top: 50%; 
		 	left: 50%; 
		 	transform: translate(-50%, -50%); 
		 	background: url(../images/svg/logo-text-alt.svg) no-repeat 0 0;  
		 	width: 178px; 
		 	height: 178px;
		 	margin: -89px 0 0 -89px;  
		 	background-size: 100% 100%; 
		 	animation: rotate 4s infinite linear;
		 } 
	}

	&.is-hidden {
		opacity: 0; 
		visibility: hidden; 

		&:after {
			height: 0; 
		}

		i {
			opacity: 0; 
		}
	}
}

/* ------------------------------------------------------------ *\
	Widget Map
\* ------------------------------------------------------------ */

.widget-map {
	text-align: left; 
	position: relative; 
	min-height: 830px;

	@include breakpoint-down(small-desktop) {
		min-height: 500px;
	}

	&:after {
		content: '';
		display: table; 
		clear: both;  
	}

	.form-search-alt {
		@include breakpoint-down(tablet) {
			.field,
			.btn {
				font-size: 12px; 
			}
		}

		@include breakpoint-down(mobile) {
			.field {
				font-size: 14px; 
			}

			.btn {
				font-size: 10px; 
			}
		}

	}

	.list-checkboxes {
		@include breakpoint-down(tablet) {
			border-bottom: 1px solid #bbb;
			padding-bottom: 28px; 
			margin-bottom: 28px;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 40px;
		}
	}

	.list-markers {
		@include breakpoint-down(tablet) {
			overflow-y: auto;
			max-height: initial;
		}
	}

	.widget__aside {
		float: left; 
		width: 410px;

		@include breakpoint-down(small-desktop) {
			width: 300px; 
		}

		@include breakpoint-down(small-desktop) {
			width: 100%; 
			float: none; 
		}
	}

	.widget__body {
		position: absolute; 
		top: 0; 
		right: 0; 
		width: calc(100% - 480px);

		@include breakpoint-down(small-desktop) {
			width: calc(100% - 330px);
		}

		@include breakpoint-down(tablet) {
			position: relative; 
			width: 100%; 
		}

		.map {
			height: 830px;
			
			.gm-fullscreen-control,
			.gmnoprint {
				display: none !important; 
			}

			@include breakpoint-down(small-desktop) {
				height: 500px; 
			}

			@include breakpoint-down(mobile) {
				height: 353px;
			}
		}

		.widget__actions {
			position: absolute; 
			bottom: 0; 
			right: 0; 
			z-index: 10;

			@include breakpoint-down(mobile) {
				display: none;
			}
		}
	}

	.widget__actions {
		list-style: none; 

		a {
			display: inline-block; 
			position: relative; 
			width: 50px; 
			height: 50px; 
			background: #000; 
			transition: background .4s; 

			&:hover {
				background: rgba(0, 0, 0, .7);
			}

			i {
				position: absolute; 
				top: 50%; 
				left: 50%; 
				transform: translate(-50%, -50%);  
			}
		}
	}



}