/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper {
	position: relative;
	min-height: 100vh;
	overflow: hidden; 
}

.wrapper-inner {
	&.wrapper-old {
		position: absolute;
	}
}