<div class="article article--alt">
	<figure class="article__fade grid__image">
		<img src="assets/images/temp/beach.jpg" alt="" width="420" height="295">

		<img src="assets/images/temp/beach.jpg" alt="" width="420" height="295">
	</figure>

	<h6>Andis Foundation</h6>

	<p>Our nonprofit foundation’s mission is to build strong families, develop thriving kids and foster a vibrant community. We award grants to organizations with the same mission, provide monetary matching for other charities, and run a scholarship program for children of Andis Company associates.</p>
</div><!-- /.article -->
