<div class="article article--reverse">
	<div class="article__image">
		<figure>
			<img src="assets/images/temp/article-home-1.jpg" alt="" width="625" height="900">
		
			<img src="assets/images/temp/article-home-2.jpg" alt="" width="350" height="470">
		</figure>
	</div><!-- /.article__image -->

	<div class="article__image">
		<figure>
			<img src="assets/images/temp/article-home-1-mobile.jpg" alt="" width="326" height="403">
		
			<img src="assets/images/temp/article-home-2-mobile.jpg" alt="" width="154" height="190">
		</figure>
	</div><!-- /.article__image -->

	<div class="article__content">
		<h2>Made <br>for the <br>at-home <br>stylist.</h2>

		<p>Your perfect haircut awaits.</p>

		<div class="article__actions">
			<a href="#" class="btn">Shop At-Home Tools</a>
		</div><!-- /.article__actions -->
	</div><!-- /.article__content -->
</div><!-- /.article -->
