<div class="article">
	<div class="article__image">
		<div class="photos photos--2">
			<img src="assets/images/temp/monochrome.jpg" alt="" width="575" height="830">
		
			<img src="assets/images/temp/hairdryer.jpg" alt="" width="359" height="513">
		</div><!-- /.photos -->
	</div><!-- /.article__image -->

	<div class="article__image">
		<div class="photos photos--2">
			<img src="assets/images/temp/monochrome-mobile.jpg" alt="" width="266" height="384">
		
			<img src="assets/images/temp/hairdryer-mobile.jpg" alt="" width="166" height="237">
		</div><!-- /.photos -->
	</div><!-- /.article__image -->

	<div class="article__content article__content--centered">
		<h2>Quality <br>Since <br class="hidden-xs">1922</h2>

		<p>Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate. Ut enim ad minim veniam, quis nostrud exercitatio.</p>
	</div><!-- /.article__content -->
</div><!-- /.article -->
