<div class="article article--poster article--poster-alt">
	<figure style="background-image: url(assets/images/temp/orange-pink.jpg);">
		<img src="assets/images/temp/orange-pink-mobile.jpg" alt="" width="375" height="300">
	</figure>

	<div class="article__content">
		<h2>Want to <br>Be the <br>Next <br>Winner?</h2>

		<div class="article__actions">
			<a href="#" class="btn btn--sm btn--hover-transparent-white">Enter contest</a>
		</div><!-- /.article__actions -->
	</div><!-- /.article__content -->
</div><!-- /.article -->
