<div class="article article--poster">
	<figure style="background-image: url(assets/images/temp/article-pet.jpg);">
		<img src="assets/images/temp/article-pet-mobile.jpg" alt="" width="375" height="350">
	</figure>

	<div class="article__content">
		<h2>Animal <br>clippers with <br>award-winning <br>pedigree.</h2>

		<p>Helping groomers get the perfect cut for nearly fifty years.</p>

		<div class="article__actions">
			<a href="#" class="btn btn--white">Shop pet/equine tools</a>
		</div><!-- /.article__actions -->
	</div><!-- /.article__content -->
</div><!-- /.article -->
