<div class="article article--poster article--parallax">
	<div class="article__parallax-container">
		<figure class="article__parallax" style="background-image: url(assets/images/temp/article-pet.jpg);"></figure>
		
		<figure class="article__parallax" style="background-image: url(assets/images/temp/article-pet-mobile.jpg);"></figure>
	</div><!-- /.article__parallax-container -->

	<div class="article__content">
		<h2>Animal <br>clippers with <br>award-winning <br>pedigree.</h2>

		<p>Helping groomers get the perfect cut for nearly fifty years.</p>

		<div class="article__actions">
			<a href="#" class="btn btn--white">Shop pet/equine tools</a>
		</div><!-- /.article__actions -->
	</div><!-- /.article__content -->
</div><!-- /.article -->
