<div class="article article--black">
	<div class="article__image">
		<div class="photos photos--4">
			<img src="assets/images/temp/monochrome.jpg" alt="" width="575" height="830">
		
			<img src="assets/images/temp/hairdryer.jpg" alt="" width="359" height="513">
		</div><!-- /.photos -->
	</div><!-- /.article__image -->

	<div class="article__image">
		<div class="photos photos--4">
			<img src="assets/images/temp/monochrome-mobile.jpg" alt="" width="266" height="384">
		
			<img src="assets/images/temp/hairdryer-mobile.jpg" alt="" width="166" height="237">
		</div><!-- /.photos -->
	</div><!-- /.article__image -->

	<div class="article__content article__content--alt article__content--centered">
		<h2>through <br>The <br>years</h2>

		<p>Although our community has grown over the last century, we are family owned, driven by quality and innovation. And still located just a short drive away from where it all began.</p>
	</div><!-- /.article__content -->
</div><!-- /.article -->
