<div class="article article--alt article--alt-sm">
	<figure class="article__fade grid__image">
		<img src="assets/images/temp/horse-xs.jpg" alt="" width="309" height="222 ">

		<img src="assets/images/temp/horse-xs.jpg" alt="" width="309" height="222 ">

		<span class="article__location location location--white">
			<i class="ico-pin-white"></i>

			new zealand
		</span>
	</figure>

	<h3>Category&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;8.19.20</h3>

	<h4>Stacy ipsum dolor est as lorem persectif</h4>

	<p>Big attitudes, bold styles. Always pushing the bounds- aries of what’s possible. Check in with your people and</p>
	
	<div class="article__actions">
		<a href="#" class="article__link">read more</a>
	</div><!-- /.article__actions -->
</div><!-- /.article -->
