<div class="article">
	<div class="article__image">
		<div class="photos photos--4">
			<img src="assets/images/temp/monochrome.jpg" alt="" width="575" height="830">
		
			<img src="assets/images/temp/hairdryer.jpg" alt="" width="359" height="513">
		</div><!-- /.photos -->
	</div><!-- /.article__image -->

	<div class="article__image">
		<div class="photos photos--4">
			<img src="assets/images/temp/monochrome-mobile.jpg" alt="" width="266" height="384">
		
			<img src="assets/images/temp/hairdryer-mobile.jpg" alt="" width="166" height="237">
		</div><!-- /.photos -->
	</div><!-- /.article__image -->

	<div class="article__content article__content--alt">
		<h2>join the <br>Andis <br>Family</h2>

		<p>Our workplace is custom made for inspiring and ambitious people who are driven to create a new way forward. Those who express themselves with excellence, integrity, and respect. As a family-owned business since 1922.</p>

		<div class="article__actions">
			<a href="#" class="btn">Work with us</a>
		</div><!-- /.article__actions -->
	</div><!-- /.article__content -->
</div><!-- /.article -->
