<div class="article article--alt article--contest">
	<figure class="article__fade grid__image">
		<img src="assets/images/temp/denim.jpg" alt="" width="416" height="525">

		<img src="assets/images/temp/denim-mobile.jpg" alt="" width="315" height="384">

		<span class="article__location location location--white">
			<i class="ico-pin-white"></i>

			new zealand
		</span>
	</figure>

	<h3>Category&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;8.19.20</h3>

	<h4>Nicole Smith</h4>
	
	<div class="article__footer">
		<a href="#" class="btn btn--sm article__btn">Vote for nominee</a>
		
		<a href="#" class="article__link">View bio</a>
	</div><!-- /.article__footer -->
</div><!-- /.article -->
