<div class="article">
	<div class="article__image">
		<figure>
			<img src="assets/images/temp/article-craft-1.jpg" alt="" width="625" height="800">
		
			<img src="assets/images/temp/article-craft-2.jpg" alt="" width="460" height="630">
		</figure>
	</div><!-- /.article__image -->

	<div class="article__image">
		<figure>
			<img src="assets/images/temp/article-craft-1-mobile.jpg" alt="" width="295" height="365">
		
			<img src="assets/images/temp/article-craft-2-mobile.jpg" alt="" width="243" height="337">
		</figure>
	</div><!-- /.article__image -->

	<div class="article__content">
		<h2>For <br>masters <br>Of the <br>craft.</h2>

		<p>Performance tools for barbers and stylists.</p>

		<div class="article__actions">
			<a href="#" class="btn">Shop barber/stylist Tools</a>
		</div><!-- /.article__actions -->
	</div><!-- /.article__content -->
</div><!-- /.article -->
