<div class="article">
	<div class="article__image">
		<div class="photos photos--1">
			<img src="assets/images/temp/outline.jpg" alt="" width="1250" height="1800">
		
			<img src="assets/images/temp/hat.jpg" alt="" width="700" height="940">
		</div><!-- /.photos -->
	</div><!-- /.article__image -->

	<div class="article__image">
		<div class="photos photos--1">
			<img src="assets/images/temp/outline-mobile.jpg" alt="" width="584" height="841">
		
			<img src="assets/images/temp/hat-mobile.jpg" alt="" width="326" height="439">
		</div><!-- /.photos -->
	</div><!-- /.article__image -->

	<div class="article__content article__content--centered">
		<h2>Next <br>level <br>Features</h2>

		<ul class="list-highlights">
			<li>
				<i class="ico-cog"></i>

				Rotary motor for heavy-duty use
			</li>

			<li>
				<i class="ico-battery"></i>

				Ion lithium battery
			</li>

			<li>
				<i class="ico-cable"></i>

				Cordless with charger
			</li>

			<li>
				<i class="ico-drops"></i>

				Best for wet hair
			</li>

			<li>
				<i class="ico-usa"></i>

				Made in USA
			</li>
		</ul><!-- /.list-highlights -->
	</div><!-- /.article__content -->
</div><!-- /.article -->
