<div class="article article--poster article--poster-alt">
	<figure style="background-image: url(assets/images/temp/scarf-dog.jpg);">
		<img src="assets/images/temp/scarf-dog.jpg" alt="" width="1500" height="650">
	</figure>

	<div class="article__content">
		<h2>Learn how <br>It works.</h2>

		<div class="article__actions">
			<a href="#" class="btn btn--sm btn--outline-white article__btn">view faq</a>
		</div><!-- /.article__actions -->
	</div><!-- /.article__content -->
</div><!-- /.article -->
