<div class="article article--alt">
	<figure class="article__fade grid__image">
		<img src="assets/images/temp/dachs.jpg" alt="" width="416" height="535">

		<img src="assets/images/temp/dachs.jpg" alt="" width="416" height="535">
	
		<span class="article__location location location--white">
			<i class="ico-pin-white"></i>

			new zealand
		</span>
	</figure>

	<h3>Category&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;8.19.20</h3>

	<h4>Amy’s Story</h4>

	<p>Big attitudes, bold styles. Always pushing the bound aries of what’s possible. Check in with your people and keep your skills on point.</p>
	
	<div class="article__actions">
		<a href="#" class="article__link">read more</a>
	</div><!-- /.article__actions -->
</div><!-- /.article -->
