<div class="banner js-banner">
	<div class="banner__image" style="background-image: url(assets/images/temp/banner-selector.jpg);"></div><!-- /.banner__bg -->

	<div class="banner__image" style="background-image: url(assets/images/temp/banner-selector-mobile.png);"></div><!-- /.banner__bg -->

	<h2>Find your <br>Perfect Tool.</h2>

	<a href="#" class="btn btn--xs btn--outline-gray">Go create</a>

	<a href="#" class="banner__close js-banner-close">
		<svg xmlns="http://www.w3.org/2000/svg" width="12.728" height="12.728" viewBox="0 0 12.728 12.728">
		  <g id="Group_52" data-name="Group 52" transform="translate(-5.657 6.364) rotate(-45)">
		    <rect id="Rectangle_67" data-name="Rectangle 67" width="17" height="1" transform="translate(0 8)"/>
		    <rect id="Rectangle_68" data-name="Rectangle 68" width="17" height="1" transform="translate(8 17) rotate(-90)"/>
		  </g>
		</svg>
	</a>
</div><!-- /.banner -->