<div class="cart cart--alt">
	<div class="cart__row">
		<div class="cart__col">
			<div class="cart__title">
				<h2>Product</h2>

				<h2>Quantity</h2>

				<h2>Price</h2>
			</div><!-- /.cart__title -->
			
			<div class="cart__items">
				<div class="cart__item">
					<div class="cart__details">
						<figure>
							<a href="#">
								<img src="assets/images/temp/clipper.png" alt="" width="226" height="294">
							</a>
						</figure>
															
						<div class="cart__description">
							<p>Master&reg; Cordless Lithium <br> Ion Clipper</p>
						
							<small>Item#: 12470&nbsp;&nbsp;&nbsp;&nbsp;Model#: MLC</small>
						</div><!-- /.cart__description -->
					</div><!-- /.cart__details -->

					<div class="cart__quantity">
						<div class="form-quantity form-quantity--alt">
							<form action="?" method="post">
								<div class="form__row">
									<div class="form__controls form__controls--lg">
										<button class="form__increase"></button>
									
										<input type="number" class="field-quantity form__field" min="1" max="99" value="1">
									
										<button class="form__decrease"></button>
									</div><!-- /.form__controls -->
								</div><!-- /.form__row -->
							</form>
						</div><!-- /.form-quantity -->
					</div><!-- /.cart__quantity -->

					<div class="cart__price">
						<strong>$299.99</strong>
					</div><!-- /.cart__price -->
				</div><!-- /.cart__item -->

				<div class="cart__item">
					<div class="cart__details">
						<figure>
							<a href="#">
								<img src="assets/images/temp/clipper.png" alt="" width="226" height="294">
							</a>
						</figure>
															
						<div class="cart__description">
							<p>Master&reg; Cordless Lithium <br> Ion Clipper</p>
						
							<small>Item#: 12470&nbsp;&nbsp;&nbsp;&nbsp;Model#: MLC</small>
						</div><!-- /.cart__description -->
					</div><!-- /.cart__details -->

					<div class="cart__quantity">
						<div class="form-quantity form-quantity--alt">
							<form action="?" method="post">
								<div class="form__row">
									<div class="form__controls form__controls--lg">
										<button class="form__increase"></button>
									
										<input type="number" class="field-quantity form__field" min="1" max="99" value="1">
									
										<button class="form__decrease"></button>
									</div><!-- /.form__controls -->
								</div><!-- /.form__row -->
							</form>
						</div><!-- /.form-quantity -->
					</div><!-- /.cart__quantity -->

					<div class="cart__price">
						<strong>$299.99</strong>
					</div><!-- /.cart__price -->
				</div><!-- /.cart__item -->
			</div><!-- /.cart__items -->
		</div><!-- /.cart__col -->

		<div class="cart__col cart__col--sm">
			<div class="cart__title">
				<h2>Order Summary</h2>
			</div><!-- /.cart__title -->

			<div class="form">
				<form action="?" method="post">
					<div class="form__controls form__controls--promo">
						<input type="text" class="field" placeholder="Promo Code">

						<button>Apply code</button>
					</div><!-- /.form__controls -->
				</form>
			</div><!-- /.form-quantity -->

			<h3>Subtotal: <span>$599.99</span></h3>
			
			<h3>Shipping: <span>Calculated at checkout</span></h3>
			
			<h2>Total: <span>$399.56</span></h2>
			
			<div class="cart__actions">
				<a href="#" class="btn cart__btn">proceed to Checkout</a>
			</div><!-- /.cart__actions -->

			<img src="assets/images/temp/cards.png" alt="" width="350" height="37">
		</div><!-- /.cart__col -->
	</div><!-- /.cart__row -->
</div><!-- /.cart -->
