<div class="cart cart--nav">
	<a href="#" class="cart__close js-dropdown-close"></a>

	<h2>My Cart</h2>
	
	<div class="cart__items">
		<div class="cart__item">
			<figure>
				<a href="#">
					<img src="assets/images/temp/clipper.png" alt="" width="226" height="294">
				</a>
			</figure>
		
			<div class="cart__description">
				<p>Master&reg; Cordless Lithium <br> Ion Clipper Blade <strong>$299.99</strong></p>
				
				<div class="cart__quantity">
					<div class="form-quantity">
						<form action="?" method="post">
							<div class="form__row">
								<div class="form__controls">
									<button class="form__increase"></button>
								
									<input type="number" class="field-quantity form__field" min="1" max="99" value="1">
								
									<button class="form__decrease"></button>
								</div><!-- /.form__controls -->
															
								<button class="form__remove">Remove</button>
							</div><!-- /.form__row -->
						</form>
					</div><!-- /.form-quantity -->
				</div><!-- /.cart__quantity -->
			</div><!-- /.cart__description -->
		</div><!-- /.cart__item -->
		
		<div class="cart__item">
			<figure>
				<a href="#">
					<img src="assets/images/temp/clipper.png" alt="" width="226" height="294">
				</a>
			</figure>
		
			<div class="cart__description">
				<p>Master&reg; Cordless Lithium <br> Ion Clipper Blade <strong>$299.99</strong></p>
				
				<div class="cart__quantity">
					<div class="form-quantity">
						<form action="?" method="post">
							<div class="form__row">
								<div class="form__controls">
									<button class="form__increase"></button>
								
									<input type="number" class="field-quantity form__field" min="1" max="99" value="1">
								
									<button class="form__decrease"></button>
								</div><!-- /.form__controls -->
															
								<button class="form__remove">Remove</button>
							</div><!-- /.form__row -->
						</form>
					</div><!-- /.form-quantity -->
				</div><!-- /.cart__quantity -->
			</div><!-- /.cart__description -->
		</div><!-- /.cart__item -->
	</div><!-- /.cart__items -->
	
	<h3>Subtotal: <span>$599.99</span></h3>
	
	<h3>Shipping: <span>Calculated at checkout</span></h3>
	
	<h2>Total: <span>$399.56</span></h2>
	
	<div class="cart__actions">
		<a href="#" class="btn cart__btn">Checkout</a>
		
		<a href="#" class="btn btn--outline cart__btn">view cart</a>
	</div><!-- /.cart__actions -->
</div><!-- /.cart -->
