<div class="cart cart--alt cart--confirmation">
	<ul class="cart__summary">
		<li>
			<strong>Shipping to:</strong>
			
			Jane Doe <br> 333 Main Street <br> San Diego, CA 92101
		</li>

		<li>
			<strong>Billing details:</strong>
			
			Jane Doe <br> 333 Main Street <br> San Diego, CA 92101
		</li>

		<li>
			<strong>Shipping method:</strong>
			
			Preferred Method: <br> US Standard <br> <br> (normally about 4-5 business days, <br> unless otherwise noted)
		</li>
	</ul><!-- /.cart__summary -->

	<div class="cart__title">
		<h2>Product</h2>

		<h2>Quantity</h2>

		<h2>Price</h2>
	</div><!-- /.cart__title -->
	
	<div class="cart__items">
		<div class="cart__item">
			<div class="cart__details">
				<figure>
					<a href="#">
						<img src="assets/images/temp/clipper.png" alt="" width="226" height="294">
					</a>
				</figure>
													
				<div class="cart__description">
					<p>Master&reg; Cordless Lithium <br> Ion Clipper</p>
				
					<small>Item#: 12470&nbsp;&nbsp;&nbsp;&nbsp;Model#: MLC</small>
				</div><!-- /.cart__description -->
			</div><!-- /.cart__details -->

			<div class="cart__quantity">
				<span>1</span>
			</div><!-- /.cart__quantity -->

			<div class="cart__price">
				<strong>$299.99</strong>
			</div><!-- /.cart__price -->
		</div><!-- /.cart__item -->

		<div class="cart__item">
			<div class="cart__details">
				<figure>
					<a href="#">
						<img src="assets/images/temp/clipper.png" alt="" width="226" height="294">
					</a>
				</figure>
													
				<div class="cart__description">
					<p>Master&reg; Cordless Lithium <br> Ion Clipper</p>
				
					<small>Item#: 12470&nbsp;&nbsp;&nbsp;&nbsp;Model#: MLC</small>
				</div><!-- /.cart__description -->
			</div><!-- /.cart__details -->
 <div class="cart__quantity">
				<span>1</span>
			</div><!-- /.cart__quantity -->

			<div class="cart__price">
				<strong>$299.99</strong>
			</div><!-- /.cart__price -->
		</div><!-- /.cart__item -->
	</div><!-- /.cart__items -->

	<div class="cart__row">
		<div class="cart__col cart__col--md">
			<div class="cart__title">
				<h2>Order Summary</h2>
			</div><!-- /.cart__title -->

			<h3>Subtotal: <span>$599.99</span></h3>
			
			<h3>Shipping: <span>Calculated at checkout</span></h3>
			
			<h2>Total: <span>$399.56</span></h2>
		</div><!-- /.cart__col -->
	</div><!-- /.cart__row -->
</div><!-- /.cart -->
