<div class="grid grid--spaced">
	<div class="grid__item grid__item--alt">
		<include src="article-story-sm-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item grid__item--alt">
		<include src="article-story-sm-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item grid__item--alt">
		<include src="article-story-sm-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item grid__item--alt">
		<include src="article-story-sm-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item grid__item--alt">
		<include src="article-story-sm-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item grid__item--alt">
		<include src="article-story-sm-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item grid__item--alt">
		<include src="article-story-sm-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item grid__item--alt">
		<include src="article-story-sm-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item grid__item--alt">
		<include src="article-story-sm-1.html"></include>
	</div><!-- /.grid__item -->
</div><!-- /.grid -->
