<div class="grid grid--alt grid--spaced">
	<div class="grid__item">
		<include src="article-contest-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="article-contest-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="article-contest-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="article-contest-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="article-contest-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="article-contest-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="article-contest-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="article-contest-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="article-contest-1.html"></include>
	</div><!-- /.grid__item -->
</div><!-- /.grid -->
