<div class="grid">
	<div class="grid__item grid__featured">
		<include src="card-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="card-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="card-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item grid__featured">
		<include src="card-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="card-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="card-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item grid__featured">
		<include src="card-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="card-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="card-1.html"></include>
	</div><!-- /.grid__item -->
</div><!-- /.grid -->
