<div class="grid grid--comments">
	<div class="grid__item">
		<include src="comment-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="comment-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="comment-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="comment-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="comment-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="comment-1.html"></include>
	</div><!-- /.grid__item -->
</div><!-- /.grid -->
