<div class="grid grid--alt">
	<div class="grid__item">
		<include src="article-story-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="article-story-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="article-story-1.html"></include>
	</div><!-- /.grid__item -->
	
	<div class="grid__row hidden-xs">
		<div class="grid__item grid__item--lg">
			<div class="grid__poster grid__fade" style="background-image: url(assets/images/temp/horse-lg.jpg);">
				<span class="grid__location location location--white">
					<i class="ico-pin-white"></i>

					new zealand
				</span>

				<button class="btn-play">PLAY</button>
			</div><!-- /.grid__poster -->
		</div><!-- /.grid__item -->

		<div class="grid__item grid__item--no-image">
			<include src="article-story-1.html"></include>
		</div><!-- /.grid__item -->
	</div><!-- /.grid__row -->

	<div class="grid__item">
		<include src="article-story-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="article-story-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="article-story-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="article-story-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="article-story-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="article-story-1.html"></include>
	</div><!-- /.grid__item -->
</div><!-- /.grid -->
