<div class="grid">
	<div class="grid__item grid__featured">
		<include src="card-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="card-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="card-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item grid__featured">
		<include src="card-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="card-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="card-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__row hidden-xs">
		<div class="grid__col">
			<div class="grid__item grid__featured">
				<include src="card-1.html"></include>
			</div><!-- /.grid__item -->
									
			<div class="grid__item">
				<include src="card-1.html"></include>
			</div><!-- /.grid__item -->
		</div><!-- /.grid__col -->

		<div class="grid__item grid__item--lg">
			<div class="grid__poster" style="background-image: url(assets/images/temp/coat.jpg);"></div><!-- /.grid__poster -->
		</div><!-- /.grid__item -->
	</div><!-- /.grid__row -->

	<div class="grid__item grid__featured">
		<include src="card-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="card-1.html"></include>
	</div><!-- /.grid__item -->

	<div class="grid__item">
		<include src="card-1.html"></include>
	</div><!-- /.grid__item -->
</div><!-- /.grid -->
