<header class="header js-header js-sticky-header-container">
  <div class="header__shell shell">
    <div class="header__bar">
      <ul>
        <li>
          <a href="#" class="link-arrow">Try our Tool selector</a>
        </li>

        <li>
          <a href="#">Free shipping orders of $75 or more</a>
        </li>

        <li>
          <div class="header__access">
            <include src="nav-access.html"></include>
          </div>
          <!-- /.header__access -->
        </li>
      </ul>
    </div>
    <!-- /.header__bar -->

    <div class="header__main js-sticky-header">
      <div class="header__nav">
        <include src="nav.html"></include>
      </div>
      <!-- /.header__nav -->

      <div class="header__logo">
        <a href="home.html" class="logo logo--text js-link">ANDIS</a>
      </div>
      <!-- /.header__logo -->

      <div class="header__utilities">
        <include src="nav-utilities.html"></include>
      </div>
      <!-- /.header__utilities -->
    </div>
    <!-- /.header__main -->
  </div>
  <!-- /.header__shell -->
</header>
<!-- /.header -->
