<div class="hero hero--padding-top">
	<div class="shell">
		<div class="hero__breadcrumbs">
			<ul class="list-breadcrumbs list-breadcrumbs--alt">
				<li class="is-current">
					<a href="#">Customer spotlight</a>
				</li>
				
				<li>
					<a href="#">contests</a>
				</li>
				
				<li>
					<a href="#">faq’s</a>
				</li>
			</ul><!-- /.list-breadcrumbs -->
		</div><!-- /.hero__breadcrumbs -->

		<h1>Animal <br> Lovers unite</h1>
		
		<figure>
			<img src="assets/images/temp/cat.jpg" alt="" width="1360" height="750">
			
			<img src="assets/images/temp/cat-mobile.jpg" alt="" width="315" height="300">
		</figure>
	</div><!-- /.shell -->
</div><!-- /.hero -->
