<div class="hero-media hero-media--reverse">
	<div class="hero__shell shell">
		<div class="hero__breadcrumbs">
			<ul class="list-breadcrumbs list-breadcrumbs--alt">
				<li>
					<a href="#">Customer spotlight</a>
				</li>
				
				<li class="is-current">
					<a href="#">contests</a>
				</li>
				
				<li>
					<a href="#">faq’s</a>
				</li>
			</ul><!-- /.list-breadcrumbs -->
		</div><!-- /.hero__breadcrumbs -->
		
		<div class="hero__media">
			<div class="photos photos--hero photos--hero-reverse">
				<img src="assets/images/temp/horse-back.jpg" alt="" width="619" height="715">
			
				<img src="assets/images/temp/horse.jpg" alt="" width="428" height="540">
			</div><!-- /.photos -->
		</div><!-- /.hero__media -->
		
		<div class="hero__content">
			<h1>spring <br>Fever <br>Contest</h1>
			
			<p>Bicycle rights coloring book mumblecore prism chia hella wolf air plant organic subway tile kinfolk snac copper mug listicle leggings kogi viral deep v cloud bread craft beer VHS.</p>
			
			<div class="hero__footer">
				<a href="#" class="btn btn--sm hero__btn">Enter contest</a>
			</div><!-- /.hero__footer -->
		</div><!-- /.hero__content -->
	</div><!-- /.hero__shell -->
</div><!-- /.hero-media -->
