<div class="hero-product">
	<div class="hero__breadcrumbs">
		<ul class="list-breadcrumbs">
			<li>
				<a href="#">barber/stylist</a>
			</li>
		
			<li>
				<a href="#">clippers</a>
			</li>
		</ul><!-- /.list-breadcrumbs -->
	</div><!-- /.hero__breadcrumbs -->

	<figure class="hero__poster">
		<img src="assets/images/temp/clipper-poster.jpg" alt="" width="1030" height="775">

		<img src="assets/images/temp/clipper-poster-mobile.jpg" alt="" width="375" height="399.5">
	</figure><!-- /.hero__poster -->

	<div class="hero__content">
		<div class="shell">
			<h5>Master&reg; Cordless <br>Lithium Ion Clipper</h5>

			<h3><del>$350.50</del> $299.99&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;Free Shipping &amp; Returns</h3>
			
			<p>Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. Create your way.</p>

			<p><strong>What’s Included:</strong></p>

			<ul class="list-dash">
				<li>Dropper of Blade Oil</li>
				
				<li>Four attachment combs: 1 (1/8”) 3mm</li>
				
				<li>Brush</li>
			</ul><!-- /.list-dash -->

			<div class="hero__form">
				<div class="form-quantity form-quantity--alt">
					<form action="?" method="post">
						<div class="form__row">
							<div class="form__controls">
								<button class="form__increase"></button>
							
								<input type="number" class="field-quantity field-quantity--alt form__field" min="1" max="99" value="1">
							
								<button class="form__decrease"></button>
							</div><!-- /.form__controls -->
														
							<button class="btn form__add">Add to cart</button>
						</div><!-- /.form__row -->
					</form>
				</div><!-- /.form-quantity -->
			</div><!-- /.hero__form -->

			<div class="hero__accordions">
				<div class="accordions">
					<div class="accordion js-accordion">
						<ul>
							<li>
								<strong class="js-accordion-trigger">purchase Additional blades</strong>
					
								<ul class="js-accordion-expand">
									<li>
										<a href="ajax/popup-recommended-1.html" class="js-popup-trigger">Blade Option 1/4”  -  $39.99</a>
									</li>
									
									<li>
										<a href="ajax/popup-recommended-1.html" class="js-popup-trigger">Blade Option 1/8”  -  $5.99</a>
									</li>
									
									<li>
										<a href="ajax/popup-recommended-1.html" class="js-popup-trigger">Blade Option 1/16”  -  $40.00</a>
									</li>
									
									<li>
										<a href="ajax/popup-recommended-1.html" class="js-popup-trigger">Blade Option 1”  -  $52.99</a>
									</li>
								</ul>
							</li>
						</ul>
					</div><!-- /.accordion -->
					
					<div class="accordion js-accordion">
						<ul>
							<li>
								<strong class="js-accordion-trigger">highlights</strong>
					
								<ul class="js-accordion-expand">
									<li>
										<a href="#">Blade Option 1/4”  -  $39.99</a>
									</li>
									
									<li>
										<a href="#">Blade Option 1/8”  -  $5.99</a>
									</li>
									
									<li>
										<a href="#">Blade Option 1/16”  -  $40.00</a>
									</li>
									
									<li>
										<a href="#">Blade Option 1”  -  $52.99</a>
									</li>
								</ul>
							</li>
						</ul>
					</div><!-- /.accordion -->
					
					<div class="accordion js-accordion">
						<ul>
							<li>
								<strong class="js-accordion-trigger">Specs</strong>
					
								<ul class="js-accordion-expand">
									<li>
										<ul class="list-specs">
											<li>
												<h6>Motor</h6>
											</li>

											<li>
												<strong>Type</strong> <span>Rotary</span>
											</li>

											<li>
												<strong>Strokes per Minute</strong> <span>7200 SPM</span>
											</li>

											<li>
												<strong>Volts</strong> <span>120-24- V</span>
											</li>

											<li>
												<strong>Watts</strong> <span>50/60 W</span>
											</li>
										</ul><!-- /.list-specs -->

										<ul class="list-specs">
											<li>
												<h6>Packaging Specs</h6>
											</li>

											<li>
												<strong>Height</strong> <span>9.8 in</span>
											</li>

											<li>
												<strong>Width</strong> <span>5 in</span>
											</li>

											<li>
												<strong>Depth</strong> <span>3.25 in</span>
											</li>

											<li>
												<strong>Weight</strong> <span>2 lbs</span>
											</li>
										</ul><!-- /.list-specs -->

										<ul class="list-specs">
											<li>
												<h6>Clipper Approvals</h6>
											</li>

											<li>
												<i class="ico-listed"></i>
											</li>
										</ul><!-- /.list-specs -->

										<ul class="list-specs">
											<li>
												<h6>Product Specifications</h6>
											</li>

											<li>
												<strong>Model</strong> <span>MLC</span>
											</li>

											<li>
												<strong>Item Number</strong> <span>12480</span>
											</li>

											<li>
												<strong>UPC code</strong> <span>0 20345 05543 9</span>
											</li>
										</ul><!-- /.list-specs -->
									</li>
								</ul>
							</li>
						</ul>
					</div><!-- /.accordion -->
					
					<div class="accordion js-accordion">
						<ul>
							<li>
								<strong class="js-accordion-trigger">use, care &amp; warranty</strong>
					
								<ul class="js-accordion-expand">
									<li>
										<p>For safety guidelines, usage directions and warranty information on this product, download the file <a href="#">here.</a></p>
									</li>

									<li>
										<p>Customer Support: <br> USA & Canada: 800-558-9441 <br><a href="mailto:info@andisco.com">info@andisco.com</a></p>
									</li>
								</ul>
							</li>
						</ul>
					</div><!-- /.accordion -->
				</div><!-- /.accordions -->
			</div><!-- /.hero__accordions -->
		</div><!-- /.shell -->
	</div><!-- /.hero__content -->
</div><!-- /.hero-product -->
