<div class="hero-media">
	<div class="hero__shell shell">
		<div class="hero__breadcrumbs">
			<ul class="list-breadcrumbs list-breadcrumbs--alt">
				<li class="is-current">
					<a href="#">Customer spotlight</a>
				</li>
				
				<li>
					<a href="#">contests</a>
				</li>
				
				<li>
					<a href="#">faq’s</a>
				</li>
			</ul><!-- /.list-breadcrumbs -->
		</div><!-- /.hero__breadcrumbs -->
		
		<div class="hero__media">
			<div class="photos photos--hero">
				<img src="assets/images/temp/horse-back.jpg" alt="" width="619" height="715">
			
				<img src="assets/images/temp/horse.jpg" alt="" width="428" height="540">
			</div><!-- /.photos -->

			<button class="btn-play">PLAY</button>
		</div><!-- /.hero__media -->
		
		<div class="hero__content">
			<h1>Nicole’s <br> Story</h1>
			
			<p>Bicycle rights coloring book mumblecore prism chia hella wolf air plant organic subway tile kinfolk snac kwave vegan. Portland jianbing kinfolk street art copper mug listicle leggings kogi viral deep v cloud bread craft beer VHS.</p>
			
			<div class="hero__footer">
				<span class="location">
					<i class="ico-pin"></i>

					new zealand
				</span>
				
				<ul class="list-share">
					<li>
						<strong>share</strong>
					</li>
				
					<li>
						<a href="#"><i class="ico-facebook-black"></i><span>facebook</span></a>
					</li>
					
					<li>
						<a href="#"><i class="ico-twitter-black"></i><span>twitter</span></a>
					</li>
					
					<li>
						<a href="#"><i class="ico-gplus-black"></i><span>google plus</span></a>
					</li>
				</ul><!-- /.list-share -->
			</div><!-- /.hero__footer -->
		</div><!-- /.hero__content -->
	</div><!-- /.hero__shell -->
</div><!-- /.hero-media -->
