<div class="hero hero--photos">
	<div class="shell">
		<h4><span>Careers</span></h4>

		<h1>create <br> With us.</h1>

		<div class="hero__photos">
			<div class="photos photos--6">
				<img src="assets/images/temp/green.jpg" alt="" width="596" height="750">
			
				<img src="assets/images/temp/bulbs.jpg" alt="" width="268" height="348">

				<img src="assets/images/temp/tatoo.jpg" alt="" width="284" height="239">

				<img src="assets/images/temp/blue-shade.jpg" alt="" width="327" height="386">
			</div><!-- /.photos -->

			<div class="hero__btn">
				<include src="logo-button.html"></include>
			</div><!-- /.hero__btn -->
		</div><!-- /.hero__photos -->

		<h2>we’re <br>In good <br>Company</h2>

		<p>Our people thrive on creating new ways forward and reimagining what’s possible. Ambitious, creative, expressive <br class="hidden-xs">— these true originals form the heartbeat of who we are as a company. And forge the future of who we’ll become.</p>
	</div><!-- /.shell -->
</div><!-- /.hero -->
