<div class="nav-utilities">
	<ul>
		<li class="js-dropdown js-dropdown-search">
			<a href="#" class="js-dropdown-trigger"><i class="ico-search header__default"></i><i class="ico-search ico-search--white header__black"></i></a>

			<div class="nav__search js-dropdown-expand js-search-container">
				<include src="search.html"></include>
			</div><!-- /.nav__search -->
		</li>
			
		<li class="js-dropdown js-dropdown-cart">
			<a href="#" class="js-dropdown-trigger"><i class="ico-bag header__default"></i><i class="ico-bag ico-bag--white header__black"></i></a>

			<div class="nav__cart js-dropdown-expand">
				<include src="cart.html"></include>
			</div><!-- /.nav__cart -->
		</li>

		<li>
			<a href="#" class="btn-bars header__btn js-mobile-menu-trigger">
				<span class="btn__icon"><span></span><span></span></span>
			</a>
		</li>
	</ul>
</div><!-- /.nav-utilities -->
