<nav class="nav js-mobile-menu">
	<ul>
		<li class="js-dropdown js-dropdown-alt js-dropdown-color-change">
			<a href="#" class="js-dropdown-trigger"><span>barber / stylist</span></a>

			<div class="nav__dropdown header__dropdown">
				<a href="#" class="js-dropdown-trigger"><span>barber / stylist</span></a>

				<ul class="js-dropdown">
					<li>
						<a href="#" class="js-dropdown-trigger"><strong>Products</strong></a>
						
						<ul class="js-dropdown-expand">
							<li>
								<a href="#">View All</a>
							</li>
							
							<li>
								<a href="#">Clippers</a>
							</li>
							
							<li>
								<a href="#">Trimmers and Shavers</a>
							</li>
							
							<li>
								<a href="#">Blades</a>
							</li>
							
							<li>
								<a href="#">Attachment Combs</a>
							</li>
							
							<li>
								<a href="#">Maintenance</a>
							</li>
							
							<li>
								<a href="#">Combo Kits</a>
							</li>
							
							<li>
								<a href="#">Styling Products</a>
							</li>
						</ul><!-- /.js-dropdown-expand -->
					</li>
				</ul>

				<ul class="js-dropdown">
					<li>
						<a href="#" class="js-dropdown-trigger"><strong>Community</strong></a>
						
						<ul class="js-dropdown-expand">
							<li>
								<a href="faq.html" class="js-link">FAQ</a>
							</li>
							
							<li>
								<a href="customer-spotlight-detail.html" class="js-link">Customer Spotlight</a>
							</li>
							
							<li>
								<a href="contest.html" class="js-link">Contest</a>
							</li>
						</ul><!-- /.js-dropdown-expand -->
					</li>
				</ul>

				<ul class="js-dropdown">
					<li>
						<a href="#" class="js-dropdown-trigger"><strong>Education</strong></a>
						
						<ul class="js-dropdown-expand">
							<li>
								<a href="#">Master Barber School</a>
							</li>
							
							<li>
								<a href="#">Andis Grooming College</a>
							</li>
						</ul><!-- /.js-dropdown-expand -->
					</li>
				</ul>

				<ul class="nav__banners">
					<li>
						<a href="#" class="nav__banner">
							<img src="assets/images/temp/banner-spring-sale.jpg" alt="" width="257" height="285">
						</a>
					</li>
					
					<li>
						<a href="#" class="nav__banner nav__banner--lg">
							<img src="assets/images/temp/banner-barber-tool.jpg" alt="" width="535" height="285">
						</a>
					</li>
				</ul><!-- /.nav__banners -->
			</div><!-- /.nav__dropdown -->
		</li>
		
		<li class="js-dropdown js-dropdown-alt js-dropdown-color-change">
			<a href="#" class="js-dropdown-trigger"><span>groomer</span></a>

			<div class="nav__dropdown header__dropdown">
				<a href="#" class="js-dropdown-trigger"><span>groomer</span></a>

				<ul class="js-dropdown">
					<li>
						<a href="#" class="js-dropdown-trigger"><strong>PET</strong></a>
						
						<ul class="js-dropdown-expand">
							<li>
								<a href="#">View All</a>
							</li>
							
							<li>
								<a href="#">Clippers</a>
							</li>
							
							<li>
								<a href="#">Trimmers and Shavers</a>
							</li>
							
							<li>
								<a href="#">Blades</a>
							</li>
							
							<li>
								<a href="#">Attachment Combs</a>
							</li>
							
							<li>
								<a href="#">Maintenance</a>
							</li>
							
							<li>
								<a href="#">Combo Kits</a>
							</li>
							
							<li>
								<a href="#">Grooming Tools</a>
							</li>
						</ul><!-- /.js-dropdown-expand -->
					</li>
				</ul>

				<ul class="js-dropdown">
					<li>
						<a href="#" class="js-dropdown-trigger"><strong>EQUINE / livestock</strong></a>
						
						<ul class="js-dropdown-expand">
							<li>
								<a href="#">View All</a>
							</li>
							
							<li>
								<a href="#">Clippers</a>
							</li>
							
							<li>
								<a href="#">Trimmers and Shavers</a>
							</li>
							
							<li>
								<a href="#">Blades</a>
							</li>
						</ul><!-- /.js-dropdown-expand -->
					</li>
				</ul>

				<ul class="js-dropdown">
					<li>
						<a href="#" class="js-dropdown-trigger"><strong>Community</strong></a>
						
						<ul class="js-dropdown-expand">
							<li>
								<a href="#">FAQ</a>
							</li>
							
							<li>
								<a href="#">Customer Spotlight</a>
							</li>
							
							<li>
								<a href="#">Contest</a>
							</li>
						</ul><!-- /.js-dropdown-expand -->
					</li>
				</ul>

				<ul class="js-dropdown">
					<li>
						<a href="#" class="js-dropdown-trigger"><strong>Education</strong></a>
					</li>
				</ul>

				<ul class="nav__banners">
					<li>
						<a href="#" class="nav__banner nav__banner--lg">
							<img src="assets/images/temp/banner-groomer-tool.jpg" alt="" width="535" height="285">
						</a>
					</li>
				</ul><!-- /.nav__banners -->
			</div><!-- /.nav__dropdown -->
		</li>
		
		<li class="js-dropdown js-dropdown-alt js-dropdown-color-change">
			<a href="#" class="js-dropdown-trigger"><span>at home</span></a>

			<div class="nav__dropdown header__dropdown">
				<a href="#" class="js-dropdown-trigger"><span>at home</span></a>

				<ul class="js-dropdown">
					<li>
						<a href="#" class="js-dropdown-trigger"><strong>PET</strong></a>
						
						<ul class="js-dropdown-expand">
							<li>
								<a href="#">View All</a>
							</li>
							
							<li>
								<a href="#">Clippers</a>
							</li>
							
							<li>
								<a href="#">Trimmers and Shavers</a>
							</li>
							
							<li>
								<a href="#">Blades</a>
							</li>
							
							<li>
								<a href="#">Attachment Combs</a>
							</li>
							
							<li>
								<a href="#">Maintenance</a>
							</li>
							
							<li>
								<a href="#">Combo Kits</a>
							</li>
							
							<li>
								<a href="#">Grooming Tools</a>
							</li>
						</ul><!-- /.js-dropdown-expand -->
					</li>
				</ul>

				<ul class="js-dropdown">
					<li>
						<a href="#" class="js-dropdown-trigger"><strong>EQUINE / livestock</strong></a>
						
						<ul class="js-dropdown-expand">
							<li>
								<a href="#">View All</a>
							</li>
							
							<li>
								<a href="#">Clippers</a>
							</li>
							
							<li>
								<a href="#">Trimmers and Shavers</a>
							</li>
							
							<li>
								<a href="#">Blades</a>
							</li>
						</ul><!-- /.js-dropdown-expand -->
					</li>
				</ul>

				<ul class="js-dropdown">
					<li>
						<a href="#" class="js-dropdown-trigger"><strong>Community</strong></a>
						
						<ul class="js-dropdown-expand">
							<li>
								<a href="#">FAQ</a>
							</li>
							
							<li>
								<a href="#">Customer Spotlight</a>
							</li>
							
							<li>
								<a href="#">Contest</a>
							</li>
						</ul><!-- /.js-dropdown-expand -->
					</li>
				</ul>

				<ul class="js-dropdown">
					<li>
						<a href="#" class="js-dropdown-trigger"><strong>Education</strong></a>
					</li>
				</ul>

				<ul class="nav__banners">
					<li>
						<a href="#" class="nav__banner nav__banner--lg">
							<img src="assets/images/temp/banner-home-tool.jpg" alt="" width="535" height="285">
						</a>
					</li>
				</ul><!-- /.nav__banners -->
			</div><!-- /.nav__dropdown -->
		</li>

		<li>
			<ul>
				<li>
					<a href="#">My account</a>
				</li>
				
				<li>
					<a href="#">Shipping</a>
				</li>
				
				<li>
					<a href="#">Return policy</a>
				</li>
				
				<li>
					<a href="#">Track order</a>
				</li>
				
				<li>
					<a href="#">Authorized retailers</a>
				</li>
			</ul>
		</li>
	</ul>
</nav><!-- /.nav -->
