<div class="slider js-slider-container">
	<div class="slider__slides js-slider">
		<div class="swiper-wrapper">
			<div class="swiper-slide slider__featured">
				<include src="card-1.html"></include>
			</div><!-- /.swiper-slide -->
	
			<div class="swiper-slide">
				<include src="card-1.html"></include>
			</div><!-- /.swiper-slide -->
	
			<div class="swiper-slide slider__featured">
				<include src="card-1.html"></include>
			</div><!-- /.swiper-slide -->
	
			<div class="swiper-slide">
				<include src="card-1.html"></include>
			</div><!-- /.swiper-slide -->
	
			<div class="swiper-slide slider__featured">
				<include src="card-1.html"></include>
			</div><!-- /.swiper-slide -->
		</div><!-- /.swiper-wrapper -->
	</div><!-- /.slider__slides -->
		
	<div class="slider__bullets js-slider-bullets"></div><!-- /.slider__bullets -->
</div><!-- /.slider -->
