<div class="slider slider--images js-slider-container">
	<div class="slider__slides js-slider-images">
		<div class="swiper-wrapper">
			<a href="#" class="swiper-slide">
				<img src="assets/images/temp/post-1.jpg" alt="" width="272" height="274">
			</a>
	
			<a href="#" class="swiper-slide">
				<img src="assets/images/temp/post-2.jpg" alt="" width="272" height="274">
			</a>
	
			<a href="#" class="swiper-slide">
				<img src="assets/images/temp/post-3.jpg" alt="" width="272" height="274">
			</a>
	
			<a href="#" class="swiper-slide">
				<img src="assets/images/temp/post-4.jpg" alt="" width="272" height="274">
			</a>
	
			<a href="#" class="swiper-slide">
				<img src="assets/images/temp/post-5.jpg" alt="" width="272" height="274">
			</a>
	
			<a href="#" class="swiper-slide">
				<img src="assets/images/temp/post-6.jpg" alt="" width="272" height="274">
			</a>
	
			<a href="#" class="swiper-slide">
				<img src="assets/images/temp/post-1.jpg" alt="" width="272" height="274">
			</a>
		</div><!-- /.swiper-wrapper -->
	</div><!-- /.slider__slides -->
		
	<div class="slider__bullets js-slider-bullets"></div><!-- /.slider__bullets -->
</div><!-- /.slider -->
