<div class="slider slider--media js-slider-container">
	<div class="slider__aside">
		<h2>let your <br>Skills <br class="hidden-xs">Do the&nbsp;<br class="hidden-xs">Talking</h2>
							
		<div class="slider__nav">
			<button class="slider__arrow slider__arrow--prev js-slider-button-prev"></button>
		
			<button class="slider__arrow slider__arrow--next js-slider-button-next"></button>
		</div><!-- /.slider__nav -->
	</div><!-- /.slider__aside -->
						
	<div class="slider__clip">
		<div class="slider__slides js-slider-media">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<figure style="background-image: url(assets/images/temp/window.jpg);"></figure>
		
					<p><strong>Master Clipper Closer Look</strong> 3:08</p>

					<button class="btn-play">PLAY</button>
				</div><!-- /.swiper-slide -->
		
				<div class="swiper-slide">
					<figure style="background-image: url(assets/images/temp/blue-wall.jpg);"></figure>
		
					<p><strong>Master Clipper Closer Look</strong> 3:08</p>

					<button class="btn-play">PLAY</button>
				</div><!-- /.swiper-slide -->

				<div class="swiper-slide">
					<figure style="background-image: url(assets/images/temp/window.jpg);"></figure>
		
					<p><strong>Master Clipper Closer Look</strong> 3:08</p>

					<button class="btn-play">PLAY</button>
				</div><!-- /.swiper-slide -->
		
				<div class="swiper-slide">
					<figure style="background-image: url(assets/images/temp/blue-wall.jpg);"></figure>
		
					<p><strong>Master Clipper Closer Look</strong> 3:08</p>

					<button class="btn-play">PLAY</button>
				</div><!-- /.swiper-slide -->

				<div class="swiper-slide">
					<figure style="background-image: url(assets/images/temp/window.jpg);"></figure>
		
					<p><strong>Master Clipper Closer Look</strong> 3:08</p>

					<button class="btn-play">PLAY</button>
				</div><!-- /.swiper-slide -->
		
				<div class="swiper-slide">
					<figure style="background-image: url(assets/images/temp/blue-wall.jpg);"></figure>
		
					<p><strong>Master Clipper Closer Look</strong> 3:08</p>

					<button class="btn-play">PLAY</button>
				</div><!-- /.swiper-slide -->
			</div><!-- /.swiper-wrapper -->
		</div><!-- /.slider__slides -->
	</div><!-- /.slider__clip -->
						
	<div class="slider__bullets slider__bullets--alt js-slider-bullets"></div><!-- /.slider__bullets -->
</div><!-- /.slider -->
