<div class="slider slider--grid js-slider-container">
	<div class="slider__slides js-slider-grid">
		<div class="swiper-wrapper isotope js-isotope">
			<div class="swiper-slide js-isotope-item js-filter-category-1">
				<include src="article-project-1.html"></include>
			</div><!-- /.swiper-slide -->
	
			<div class="swiper-slide js-isotope-item js-filter-category-1">
				<include src="article-project-2.html"></include>
			</div><!-- /.swiper-slide -->
	
			<div class="swiper-slide js-isotope-item js-filter-category-1">
				<include src="article-project-1.html"></include>
			</div><!-- /.swiper-slide -->
	
			<div class="swiper-slide js-isotope-item js-filter-category-1">
				<include src="article-project-2.html"></include>
			</div><!-- /.swiper-slide -->
	
			<div class="swiper-slide js-isotope-item js-filter-category-1">
				<include src="article-project-1.html"></include>
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide js-isotope-item js-filter-category-1">
				<include src="article-project-2.html"></include>
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide js-isotope-item js-filter-category-2">
				<include src="article-project-1.html"></include>
			</div><!-- /.swiper-slide -->
	
			<div class="swiper-slide js-isotope-item js-filter-category-2">
				<include src="article-project-2.html"></include>
			</div><!-- /.swiper-slide -->
	
			<div class="swiper-slide js-isotope-item js-filter-category-2">
				<include src="article-project-1.html"></include>
			</div><!-- /.swiper-slide -->
	
			<div class="swiper-slide js-isotope-item js-filter-category-3">
				<include src="article-project-2.html"></include>
			</div><!-- /.swiper-slide -->
	
			<div class="swiper-slide js-isotope-item js-filter-category-3">
				<include src="article-project-1.html"></include>
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide js-isotope-item js-filter-category-3">
				<include src="article-project-2.html"></include>
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide js-isotope-item js-filter-category-3">
				<include src="article-project-2.html"></include>
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide js-isotope-item js-filter-category-4">
				<include src="article-project-1.html"></include>
			</div><!-- /.swiper-slide -->
	
			<div class="swiper-slide js-isotope-item js-filter-category-4">
				<include src="article-project-2.html"></include>
			</div><!-- /.swiper-slide -->
	
			<div class="swiper-slide js-isotope-item js-filter-category-4">
				<include src="article-project-1.html"></include>
			</div><!-- /.swiper-slide -->
	
			<div class="swiper-slide js-isotope-item js-filter-category-4">
				<include src="article-project-2.html"></include>
			</div><!-- /.swiper-slide -->
	
			<div class="swiper-slide js-isotope-item js-filter-category-4">
				<include src="article-project-1.html"></include>
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide js-isotope-item js-filter-category-4">
				<include src="article-project-2.html"></include>
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide js-isotope-item js-filter-category-4">
				<include src="article-project-2.html"></include>
			</div><!-- /.swiper-slide -->
		</div><!-- /.swiper-wrapper -->
	</div><!-- /.slider__slides -->
		
	<div class="slider__bullets slider__bullets--alt js-slider-bullets"></div><!-- /.slider__bullets -->
</div><!-- /.slider -->
