<div class="slider slider--media slider--media-sm js-slider-container">
	<div class="slider__aside">
		<h2>Family <br>photo <br>Album</h2>
							
		<div class="slider__nav">
			<button class="slider__arrow slider__arrow--prev js-slider-button-prev"></button>
		
			<button class="slider__arrow slider__arrow--next js-slider-button-next"></button>
		</div><!-- /.slider__nav -->
	</div><!-- /.slider__aside -->
						
	<div class="slider__clip">
		<div class="slider__slides js-slider-media">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="assets/images/temp/neck.jpg" alt="" width="710" height="480">
				</div><!-- /.swiper-slide -->
		
				<div class="swiper-slide">
					<img src="assets/images/temp/blue-shade-big.jpg" alt="" width="710" height="648">
				</div><!-- /.swiper-slide -->

				<div class="swiper-slide">
					<img src="assets/images/temp/neck.jpg" alt="" width="710" height="480">
				</div><!-- /.swiper-slide -->
		
				<div class="swiper-slide">
					<img src="assets/images/temp/blue-shade-big.jpg" alt="" width="710" height="648">
				</div><!-- /.swiper-slide -->
			</div><!-- /.swiper-wrapper -->
		</div><!-- /.slider__slides -->
	</div><!-- /.slider__clip -->
						
	<div class="slider__bullets slider__bullets--alt js-slider-bullets"></div><!-- /.slider__bullets -->
</div><!-- /.slider -->
