/* ------------------------------------------------------------ *\
		Fonts
\* ------------------------------------------------------------ */

@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-ExtraLight.eot');
	src: url('../fonts/Nunito-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Nunito-ExtraLight.woff2') format('woff2'),
		url('../fonts/Nunito-ExtraLight.woff') format('woff'),
		url('../fonts/Nunito-ExtraLight.ttf') format('truetype'),
		url('../fonts/Nunito-ExtraLight.svg#Nunito-ExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-Light.eot');
	src: url('../fonts/Nunito-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Nunito-Light.woff2') format('woff2'),
		url('../fonts/Nunito-Light.woff') format('woff'),
		url('../fonts/Nunito-Light.ttf') format('truetype'),
		url('../fonts/Nunito-Light.svg#Nunito-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-LightItalic.eot');
	src: url('../fonts/Nunito-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Nunito-LightItalic.woff2') format('woff2'),
		url('../fonts/Nunito-LightItalic.woff') format('woff'),
		url('../fonts/Nunito-LightItalic.ttf') format('truetype'),
		url('../fonts/Nunito-LightItalic.svg#Nunito-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-SemiBold.eot');
	src: url('../fonts/Nunito-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Nunito-SemiBold.woff2') format('woff2'),
		url('../fonts/Nunito-SemiBold.woff') format('woff'),
		url('../fonts/Nunito-SemiBold.ttf') format('truetype'),
		url('../fonts/Nunito-SemiBold.svg#Nunito-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-SemiBoldItalic.eot');
	src: url('../fonts/Nunito-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Nunito-SemiBoldItalic.woff2') format('woff2'),
		url('../fonts/Nunito-SemiBoldItalic.woff') format('woff'),
		url('../fonts/Nunito-SemiBoldItalic.ttf') format('truetype'),
		url('../fonts/Nunito-SemiBoldItalic.svg#Nunito-SemiBoldItalic') format('svg');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'GT Sectra Display';
	src: url('../fonts/GTSectraDisplay-Light.eot');
	src: url('../fonts/GTSectraDisplay-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GTSectraDisplay-Light.woff2') format('woff2'),
		url('../fonts/GTSectraDisplay-Light.woff') format('woff'),
		url('../fonts/GTSectraDisplay-Light.ttf') format('truetype'),
		url('../fonts/GTSectraDisplay-Light.svg#GTSectraDisplay-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GT Sectra Display';
	src: url('../fonts/GTSectraDisplay-LightItalic.eot');
	src: url('../fonts/GTSectraDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GTSectraDisplay-LightItalic.woff2') format('woff2'),
		url('../fonts/GTSectraDisplay-LightItalic.woff') format('woff'),
		url('../fonts/GTSectraDisplay-LightItalic.ttf') format('truetype'),
		url('../fonts/GTSectraDisplay-LightItalic.svg#GTSectraDisplay-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
